/* Карточка фильма|сериала */
.item--film {
	margin: 10px 4% 10px;
	border: 1px solid #e8f0fe;
	text-align: center;
}

/* ... */
p {
	margin: 10px 0 10px;
}
br {
	content: '';
	display: block;
	background-color: #e8f0fe;
	height: 1px;
}
img {
	margin: 5% 0;
	max-width: 100%;
	max-height: 500px;;
}
.spinner {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border: 10px dashed;
	border-radius: 50%;
	border-left-color: transparent;
	border-top-color: #aaa;
	border-right-color: #555;
	border-bottom-color: #000;
	animation: spin 500ms infinite linear;
}
@keyframes spin {
	100%{
		transform: rotate(360deg);
	}
}